@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
  margin:auto;
  display: flex;
  padding: 20px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  display: flex;
  margin: 20px auto;
  padding: 8px 16px;
}
.content{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  display: flex;
  margin: auto;
}
.footer{
  background-color: #eeeeee;
}
a{
  text-decoration: none;
  color: #666;
}
li{
  list-style-type: none;
  margin: 5px;
}
.right-links{
  display: flex;
  justify-content: flex-end;
}
.left-links{
  display: flex;
  justify-content: flex-start;
}
.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}